.response-body{
  border-bottom:solid 1px #dee2e6;
  .body{
    h4{
      color:lighten(black,25%);
    }
  }
  &:hover{
    cursor:pointer;
    .body{
      h4{
        color:white;
        text-decoration:underline;
      }
    }
    color:white;
    background-color: #1d949b;
    transition: background-color 0.5s;
  }
}

.goTop
{

  cursor:pointer;
  background-color: #1d949b;
  padding: 10px 15px 10px 15px;
  color:white;
  position: fixed;
  bottom: 20px;
  right: 20px;
  &:hover{
    background-color: darken(#1d949b,20%);
    transition: background-color 0.2s ease;
  }
}